services:
  leafy-bank-backend-accounts:
    build:
      context: .
      no_cache: true
      dockerfile: Dockerfile.backend
    image: leafy-bank-backend-accounts-image:latest
    ports:
      - "8080:8080"
    restart: always
    container_name: leafy-bank-backend-accounts-container